html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
/* NAVBAR STYLING */
nav{
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    box-shadow: 2px 4px 2px rgb(17 16 16 / 50%);
    text-transform: uppercase;
    min-height: 8vh;
    position: fixed;
    z-index: 10;
    background-color: white;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    color: black;
}
#logo-color{
    color: #009688;
    letter-spacing: 1px;
    font-weight: 1000;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding-top: 8px;
    align-items: baseline;
    
}
.nav-links a{
    font-size: 14px;
    color: rgb(27, 25, 25);
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.2s;
}
.nav-links a:hover {
    color: #009688;
}
.nav-icons {
    display: flex;
    color: rgb(27, 25, 25);
}
.nav-icons i {
    padding-top: 8px;
    font-size: 22px;
    cursor: pointer;
    margin-right: 50px;
}
#cart-wrapper{
    position: relative;

}
#cart-wrapper a{
    color: rgb(27, 25, 25);
    text-decoration: none;
}
#cart-total{
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 10px;
}
/* PRODUCT SECTION */
.product{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    flex-direction: row;
}
.left-section{
    width: 40%;
}
#main-image{
    width: 100%;
    margin-top: 85px;
}
.right-section{
    width: 60%;
    padding-left: 30px;
    margin-top: 75px;
}
#product-name{
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -2px;
}
#product-brand{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
#product-price{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
#price-color{
    color: #009688;
    font-weight: bold;
}
.description h3{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
#product-description{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    margin-bottom: 20px;
}
.product-preview{
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.product-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 40px;
}
.product-images img{
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}
.clicked{
    border: 2px solid #009688;
}
#add-to-cart{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}
.bigger {
    transform: scale(1.1, 1.1);
}
/* FOOTER SECTION */
footer{
    background-color: black;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 200px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    box-sizing: border-box;
}
footer ul{
    padding: 0;
    margin: 0;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 12px;
}
footer ul li h3{
    text-decoration: none;
    color: #dcdcdc;
    font-size: 16px;
    margin-bottom: 7px;
    cursor: pointer;
}